<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN PROFESSEUR</h5>
 <p>
  <table >
     <tr><td>Id : </td><td>{{professeur.id}} </td></tr>
	<tr><td>CompteId : </td><td>{{professeur.compte}}</td>
 </table>
	
	 
    </body>
</html>