<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN PROFESSEUR</h5>
 <p>
  <table >
      <tr><td>Id : </td><td>{{professeur.id}} </td></tr>
	   <tr><td>Nom : </td><td>{{professeur.nom}}</td>
	   <tr><td>Prénom : </td><td>{{professeur.prenom}}</td></tr></tr>
	   <tr><td>Date de naissance : </td><td>{{professeur.dateNaiss|date("d/m/Y")}}</td></tr>	
 </table>
	
	 
    </body>
</html>