<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UNE INSCRIPTION</h5>
 <p>
  <table >
     <tr><td>Id : </td><td>{{inscription.id}} </td></tr>
	<tr><td>Nombre de Paiements : </td><td>{{inscription.nombreDePaiements}}</td>	
 </table>
	
	 
    </body>
</html>